---
name: CI
on: push
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.6', '2.7', '3.0', '3.1']
        browser: ['chrome', 'firefox']
        gemfile: ['Gemfile', 'gemfiles/Gemfile.low_spec']
        exclude:
          # Old Capybara versions aren't designed to work with Ruby 3+
          - { ruby: '3.0', gemfile: 'gemfiles/Gemfile.low_spec' }
          - { ruby: '3.1', gemfile: 'gemfiles/Gemfile.low_spec' }
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      BROWSER: ${{ matrix.browser }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: '2.3.24'
          bundler-cache: true
      - run: bundle exec rspec
      - run: bundle exec cucumber
      - run: bundle exec rubocop
