---
name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.1', '3.2', '3.3', '3.4', '4.0']
        browser: ['chrome', 'firefox']
        gemfile: ['Gemfile', 'gemfiles/low_spec.gemfile']
        exclude:
          # low_spec.gemfile is having issues post Selenium Manager release on GHA
          # Revisit these exclusions once low spec selenium is 4.20+
          - { ruby: '3.3', gemfile: 'gemfiles/low_spec.gemfile' }
          - { ruby: '3.4', gemfile: 'gemfiles/low_spec.gemfile' }
          - { ruby: '4.0', gemfile: 'gemfiles/low_spec.gemfile' }
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      BROWSER: ${{ matrix.browser }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: ${{ matrix.rubygems }}
          bundler: '2.6.9'
          bundler-cache: true
      - run: bundle exec rspec
      - run: bundle exec cucumber --publish-quiet
      - run: bundle exec rubocop
